gunicorn>=20.0.0
blinker>=1.9.0
click>=8.1.8
colorama>=0.4.6
Flask>=3.1.0
itsdangerous>=2.2.0
Jinja2>=3.1.5
joblib>=1.4.2
MarkupSafe>=3.0.2
mysql-connector-python>=8.0  # Or specify a more precise version
numpy>=1.20.0  # Or a similar range
pandas>=2.0.0 # Or a similar range
python-dateutil>=2.8.0 # Or a similar range
pytz>=2020.0 # Or a similar range
scikit-learn>=1.0 # Or a similar range
scipy>=1.7.0 # Or a similar range
threadpoolctl>=3.0.0 # Or a similar range
Werkzeug>=3.1.0
